<app-menu></app-menu>
<div class="breed-list">
    <section class = "heading">
       <h4>List of Breeds</h4>
        <a routerLink = "/breed/create">Add New
            <img width = "20" height="20" src="assets/add-icon.png" title = "Add New"/>
        </a>
    </section>

    <table *ngIf="breeds" class = "table table-sm table-warning">
        <thead>
            <tr><th>Id</th><th>Species</th><th>Name</th><th>Action</th></tr>
        </thead>
        <tbody>
         <tr *ngFor="let breed of breeds">
            <td>{{breed.id}}</td>
            <td>{{breed.species.name}}</td>
            <td>{{breed.name}}</td>
            <td>
                <a routerLink="/breed/details/{{ breed.id }}">
                  <img
                    width="20"
                    height="20"
                    src="assets/details.png"
                    title="Species Details"
                  />
                </a>
                <a routerLink="/breed/edit/{{ breed.id }}">
                  <img
                    width="20"
                    height="20"
                    src="assets/pencil-icon.png"
                    title="Edit Specie"
                  />
                </a>
              </td> 
         </tr>   
        </tbody>
    </table>
</div>
