tr{
    background-color: rgba(98, 171, 244, 0.75);
    text-align:center;
  }
  h1{
    color:rgb(238, 103, 40);
  }
  button:hover {
    background: #d3f182;
     outline:auto;
    box-shadow: blue;
  }
  
 