tr{
    background-color: rgba(245, 165, 205, 0.75);
    text-align:center;
  }
  h1{
    color:rgb(238, 103, 40);
  }
  button:hover {
    background: #d3f182;
     outline:auto;
    box-shadow: rgb(203, 203, 240);
  }
  .user-login{
    color:rgb(75, 18, 220);
    align-items:center;
  }
 .btn{
box-shadow: 1px;;
 }
 
