
tr{
    background: rgba(245, 242, 140, 0.75)
  }
    
p.a{
  font-family: Arial, Helvetica, sans-serif,Bold;
  font-size:large;
  font-weight: 300;
}
p.b {
  font-family: Arial, Helvetica, sans-serif;
  font-size:large;
  font-weight: 300;
}
.user-list {
  width: 50%;
  margin: 50px auto;
  background: rgba(245, 227, 216, 0.75); /* Semi-transparent white background */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(239, 127, 127, 0.723);
  border-inline-end-color: brown;
}
table, th, td {
  border: 1px solid #ef6d54;
  border-inline-end-color: brown;
}