<app-menu></app-menu>
<div class = "customer-edit">
  <section [style.color]='"brown"' class="heading">
    <h4>Customer Edit</h4>
    </section>
    <p *ngIf="!customer">Loading...</p>
    <div *ngIf="customer">
      <main class="single">
        <table class="table table-sm">
          <tr>
            <td>Id:</td>
            <td>
              <input [(ngModel)]="customer.id" class="rounded" type="text" disabled/>
            </td>
          </tr>
          <tr>
            <td>Firstname:</td>
            <td>
              <input [(ngModel)]="customer.firstname" class="rounded" type="text" />
            </td>
          </tr>
          <tr>
            <td>Lastname:</td>
            <td>
              <input [(ngModel)]="customer.lastname" class="rounded" type="text" />
            </td>
          </tr>
          <tr>
            <td>Phone:</td>
            <td>
              <input [(ngModel)]="customer.phone" class="rounded" type="text" />
            </td>
          </tr>
          <tr>
            <td>Email:</td>
            <td>
              <input [(ngModel)]="customer.email" class="rounded" type="text" />
            </td>
          </tr>
          <tr>
            <td>Address:</td>
            <td>
              <input [(ngModel)]="customer.address" class="rounded" type="text" />
            </td>
          </tr>
          <tr>
            <td>City:</td>
            <td>
              <input [(ngModel)]="customer.city" class="rounded" type="text" />
            </td>
          </tr>
          <tr>
            <td>State:</td>
            <td>
              <input [(ngModel)]="customer.state" class="rounded" type="text" />
            </td>
          </tr>
          <tr>
            <td>Zip:</td>
            <td>
              <input [(ngModel)]="customer.zip" class="rounded" type="text" />
            </td>
          </tr>
        </table>
      </main>
      <span>
        <button (click)="save()" class="btn btn-sm btn-primary">Save</button>
      </span>
      <p *ngIf="message">{{ message }}</p>
    </div>
  </div>
  

