<app-menu></app-menu>
<div  class="species-detail">
  <section [style.color]='"brown"' class="heading">
    <h4>Species Details</h4>
    </section>
    <p *ngIf="!species">Loading...</p>
    <div *ngIf="species">
      <main class="single">
        <table class="table table-sm">
          <tr>
            <td>Id:</td>
            <td>
              <input
                [(ngModel)]="species.id"
                class="rounded"
                type="text"
                disabled
              />
            </td>
          </tr>
          <tr>
            <td>Name:</td>
            <td>
              <input
                [(ngModel)]="species.name"
                class="rounded"
                type="text"
                disabled
              />
            </td>
          </tr>
          <tr>
            <td>Adoption Fee:</td>
            <td>
              <input
                [(ngModel)]="species.adoptionFee"
                class="rounded"
                type="number"
                disabled
              />
            </td>
          </tr>
        </table>
    </main>
    <span *ngIf="isUser">
        <button routerLink="/species/edit/{{ species.id }}"
          class="btn btn-sm btn-warning"
          >Edit</button>
        </span>
      <span *ngIf="isUser">
        <button (click)="delete()" class="btn btn-sm btn-danger">
          Delete
        </button>
    </span>
    <p *ngIf="message">{{ message }}</p>
  </div>
</div>

