<app-menu></app-menu>
<div class = "adopted">
    <section class ="heading">
        <h4>Adopted Pet List</h4>
    </section>
    <table class="table able-sm table-striped">
        <thead>
            <tr>
            <th>Id</th>
            <th>Customer</th>
            <th>Customer Phone</th>
            <th>Customer Email</th>
            <th>User</th>
            <th>Pet</th>
            <th>Adopted Date</th>
            <th>Pet Photo</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let adoption of adoptions">
                <td>{{adoption.id}}</td>
                <td>{{adoption.customer.firstname +" "+ adoption.customer.lastname}}</td>
                <td>{{adoption.customer.phone}}</td>
                <td>{{adoption.customer.email}}</td>
                <td>{{adoption.user.firstname +" "+adoption.user.lastname}}</td>
                <td>{{adoption.pet.name}}</td>
                <td>{{adoption.adoptionCompletedDate| date:'MM/dd/yyyy'}}</td>
                <img height="200" width="250" src="{{adoption.pet.photoPath}}">
                <td>
                </td>
            </tr>
        </tbody>
    </table>
</div>
