nav {
	width:100%;
	background-color:rgb(129, 210, 236);
	padding: 10px 0;

}
ul {
	padding: 50;
	margin: 0;
}
li {
	display: inline-block;
	font-size: 20px;
	width:auto;
}
a {
	color: rgb(92, 76, 236);
	text-decoration:midnightblue;
	padding: 10px;
	font-family: Tahoma;
}

a:hover {
	background-color: rgb(160, 247, 143);
}

li a.active{
	color:rgb(236, 81, 130);
	background-color:bisque;
}

img {
    max-width:4%;
    max-height:4%;
}