<app-menu></app-menu>
<h1><img height="50" width="50" src="assets/pow.png"> Pet Home</h1>
<div class="row">
  <div *ngFor="let pet of pets" class="col">
       <div class="card">
      <img width="150" height="100" src="{{pet.photoPath}}">
     <div>{{pet.name}}</div>
     <div>{{pet.breed.name}}</div> 
      <div>
          <a routerLink="/pet/details/{{ pet.id }}">
            <img
              width="20"
              height="20"
              src="assets/details.png"
              title="Pet Details"
            />
          </a>
        </div>
        </div>
        
      </div>

</div>


