

h1 {
	border:2px;
    border-color:brown;
	color:rgb(69, 229, 21);
	padding: 10px;
    width: 100%;
    margin: 50px auto;
    background: rgba(249, 249, 249, 0.75); /* Semi-transparent white background */
    padding: 20px;
    border-radius: 10px;
    
    
}
h4 {
	border:2px;
    color:green;
	padding: 10px;
	
    text-decoration-color: blue;
    width: 50%;
    margin: 50px auto;

    padding: 20px;

    
}
.container{
    width:1100px;
    max-width: 100%;
    margin: 0 auto;
}
.card{
    flex: 1 1 21rem;
    width:30%;
    border:2px;
    border-color:brown;
    margin:10px;
    padding:10px;
    box-sizing: border-box;
    background: #fff;
    box-shadow:0 0 15px rgba(0, 0,0,0.4);
    align-items: center;
 /* Semi-transparent white background */
}
body{
    width:100%;
    min-height:100vh;
    display: flex;
    justify-content: center;
    align-items:center;
    background: #f1a3a3;
    line-height:1.5;
    padding-top:2px;
}
.row{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.card h4{
    font-size: 1.3rem;
    text-transform:uppercase;
    margin:10px;
    align-items:center;
}
.btn{
    display:inline-block;
    background:green;
    color:#fff;
    text-align:center;
    padding: 10px 20px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius: 5px;
}