<app-menu></app-menu>>
<div class = "review">
    <section class ="heading">
        <span [style.color]='"brown"' class="page title font-weight-bold">{{title}}</span>
    </section>
    <table class="table able-sm table-striped">
        <thead>
            <tr>
            <th>Id</th>
            <th>Customer</th>
            <th>User</th>
            <th>Status</th>
            <th>Submitted Date</th>
            <th>BackGround Check</th>
            <th>Reference Check</th>
            <th>Reason For Rejection</th>
            <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let adoption of adoptions">
                <td>{{adoption.id}}</td>
                <td>{{adoption.customer.firstname +" "+ adoption.customer.lastname}}</td>
                <td>{{adoption.user.firstname +" "+adoption.user.lastname}}</td>
                <td>{{adoption.status}}</td>
                <td>{{adoption.submittedDate| date:'MM/dd/yyyy'}}</td>
            
                <td>
                <input [(ngModel)]="adoption.backgroundCheck" class="rounded" type="checkbox" style="text-align:center" />
                </td>
                <td>
                <input [(ngModel)]="adoption.referenceCheck" class ="rounded" type = "checkbox" style="text-align:center"/>
                </td>
                <td>
                <input [(ngModel)]="adoption.rejectionReason" class="rounded" type="text"/>
                </td>
                <td>
                <span><button routerLink="/adoption/aprove/{{adoption.id}}" class="reject"[disabled]="!adoption.rejectionReason.trim()" >Reject</button></span>
                <span><button routerLink="/adoption/aprove/{{adoption.id}}"
                    class="approve"[disabled]="!adoption.backgroundCheck || !adoption.referenceCheck">Approve</button></span>
                </td>
            </tr>
        </tbody>
    </table>
</div>

<img width="200" height = "200" src ="assets/dog-cat.jpg"/>
<img width="200" height = "200" src ="assets/rabbit.jpg"/>
<img width="200" height = "200" src ="assets/cute-puppies.jpg"/>
<img width="200" height = "200" src ="assets/golden1.jpg"/>
<img width="200" height = "200" src ="assets/golden2.jpg"/>
<img width="200" height = "200" src ="assets/birdgreen.jpg"/>