
<app-menu></app-menu>
<nav nav class="navbar navbar-expand-lg center-content">
<div>For Customer</div>
<div>{{adoptReq.customer.firstname}}</div>
<div>{{" "}}</div>
<div>User</div>
<div>{{adoptReq.user.firstname}}</div>
</nav>
<div class="available-pet">
<div>
    <h4>Details of Available Pets</h4>
      <main class="single">
        <span class="adoption-details">
          <div>      
        <table class="table table-sm">
            <thead>
                <th>Choose one</th>
                
            </thead>
            <tbody>
              <tr>
                <td>Species:</td>
                <td>
                  <select [(ngModel)]="selectedSpecies" (change)="getBreeds()" class="rounded">
                    <option *ngFor="let s of speciess" [ngValue]="s">
                      {{ s.name }}
                </option>
                </select>
              </td>
            </tr>
            <tr>
                    <td>Breed:</td>
                <td>
                    <select [(ngModel)]="selectedBreed" (change)="getPets()"class="rounded">
                    <option *ngFor="let b of breeds" [ngValue]="b">
                      {{ b.name }}
                    </option>
                  </select>
                </td>
            </tr>
            <tr>
              <td>Pet:</td>
          <td>
            <div *ngIf="availablePet">
              <select [(ngModel)]="selectedPet" (change)="select()"class="rounded">
              <option  *ngFor="let p of pets" [ngValue]="p">
                {{ p.name }}
              </option>
            </select>
          </div>
          </td>
      </tr>
      <tr>
        <td>Select</td>
        <td><span><button (click)="holdPet()"  class="btn btn-primary">Select</button></span></td>
      </tr>
      </tbody>
      <div *ngIf="whenSelected">
        <td>Pet Summary</td>
        <table class="table table-sm">
          <thead>
            <td>Id</td>
            <td>Name</td>
            <td>Breed</td>
            <td>Gender</td>
            <td>Birth Year</td>
            <td>Birth Month</td>
          </thead>
          <tbody>
            <td>{{pet.id}}</td>
            <td>{{pet.name}}</td>
            <td>{{pet.breed.name}}</td>
            <td>{{pet.gender}}</td>
            <td>{{pet.birthYear}}</td>
            <td>{{pet.birthMonth}}</td>
          </tbody>
        </table>
      </div>
      <div><span><button routerLink="/adoption-final"  class="btn btn-primary">Adopt</button></span>
      </div>