<app-menu></app-menu>
<div class="pet-details">
    <h4>Pet Details</h4>
    <p *ngIf="!pet">Loading...</p>
    <div *ngIf="pet">
      <main class="single">
        <table class="table table-sm">
          <tr>
            <td>Id:</td>
            <td>
                <input [(ngModel)] = "pet.id" class = "rounded" type ="text" disabled />
            </td>
          </tr>
          <tr>
            <td>Breed:</td>
            <td>
                <input [(ngModel)] = "pet.breed.name" class = "rounded" type ="text" disabled />
            </td>
          </tr>
          <tr>
            <td>Name:</td>
            <td>
              <input [(ngModel)]="pet.name" class="rounded" type="text"disabled />
            </td>
          </tr>
          <tr>
            <td>Gender:</td>
            <td>
              <input [(ngModel)]="pet.gender" class="rounded" type="text" disabled/>
            </td>
          </tr>
          <tr>
            <td>BirthYear:</td>
            <td>
              <input [(ngModel)]="pet.birthYear" class="rounded" type="number" disabled/>
            </td>
          </tr>
          <tr>
            <td>BirthMonth:</td>
            <td>
              <input [(ngModel)]="pet.birthMonth" class="rounded" type="text" disabled />
            </td>
          </tr>
          <tr>
            <td>Available:</td>
            <td>
              <input [(ngModel)]="pet.available" class="rounded" type="checkbox" disabled/>
            </td>
          </tr>
          <tr>
            <td>Photo:</td>
            <td>
              <img height="200" width="250" src="{{pet.photoPath}}"/>
            </td>
          </tr>             
        </table>
      </main>
      <span>
        <span *ngIf="isUser"><button routerLink="/pet/edit/{{pet.id}}" class="btn btn-sm btn-warning">Edit</button></span>
        <span *ngIf="isUser"> | <button (click)="delete()" class="btn btn-sm btn-danger">Delete</button></span>
    </span>
      <p *ngIf="message">{{ message }}</p>
    </div>
  </div>
