<app-menu></app-menu>
<div class="species-edit">
    <span  [style.color]='"brown"' class="component-title">{{ title }}</span>
    <p *ngIf="!species">Loading...</p>
    <div *ngIf="species">
      <main class="single">
        <table class="table-sm">
          <tr>
            <td>Id:</td>
            <td>
              <input [(ngModel)]="species.id" class="rounded" type="text" disabled/>
            </td>
          </tr>
          <tr>
            <td>Name:</td>
            <td>
              <input [(ngModel)]="species.name" class="rounded" type="text"/>
            </td>
          </tr>
          <tr>
            <td>Adoption Fee:</td>
            <td>
              <input [(ngModel)]="species.adoptionFee" class="rounded" type="number" />
            </td>
          </tr>
        </table>
    </main>
    <span >
      <span> <button (click)="save()" class="btn btn-sm btn-sm">Save</button></span>
  </span>
    <p *ngIf="message">{{ message }}</p>
  </div>
</div>
<img width="200" height = "200" src ="assets/dog-cat.jpg"/>
<img width="200" height = "200" src ="assets/rabbit.jpg"/>
<img width="200" height = "200" src ="assets/cute-puppies.jpg"/>
<img width="200" height = "200" src ="assets/golden1.jpg"/>
<img width="200" height = "200" src ="assets/golden2.jpg"/>
<img width="200" height = "200" src ="assets/birdgreen.jpg"/>