<app-menu></app-menu>
<div class="species-edit">
  <section [style.color]='"brown"' class="heading">
    <h4>Species Edit</h4>
    </section>
    <p *ngIf="!species">Loading...</p>
    <div *ngIf="species">
      <main class="single">
        <table class="table-sm">
          <tr>
            <td>Id:</td>
            <td>
              <input [(ngModel)]="species.id" class="rounded" type="text" disabled/>
            </td>
          </tr>
          <tr>
            <td>Name:</td>
            <td>
              <input [(ngModel)]="species.name" class="rounded" type="text"/>
            </td>
          </tr>
          <tr>
            <td>Adoption Fee:</td>
            <td>
              <input [(ngModel)]="species.adoptionFee" class="rounded" type="number" />
            </td>
          </tr>
        </table>
    </main>
    <span >
      <span> <button (click)="save()" class="btn btn-primary">Save</button></span>
  </span>
    <p *ngIf="message">{{ message }}</p>
  </div>
</div>
