/* You can add global styles to this file, and also import other style files */
div {
    padding: 20px;
}
 body{

    background-image: url(./pets.jpg);
    background-size:cover;
    height:110%;
    width:110%;
    background-color:transparent;
    font-size:large;
    font:bold;
       
}