<app-menu></app-menu>
<div  class="pet-list">
    <section [style.color]='"brown"' class="heading">
<h4>Pet List</h4>
        <a routerLink = "/pet/create">Add new
            <img width="20" height="20" src="assets/add-icon.png" title="Add new"/>
        </a>
    </section>
<div class="row">
        <div *ngFor="let pet of pets" class="col">
             <div class="card">
            <img width="150" height="100" src="{{pet.photoPath}}">
           <div>{{pet.name}}</div>
           <div>{{pet.breed.name}}</div> 
            <div>
                <a routerLink="/pet/details/{{ pet.id }}">
                  <img
                    width="20"
                    height="20"
                    src="assets/details.png"
                    title="Pet Details"
                  />
                </a>
                <a routerLink="/pet/edit/{{ pet.id }}">
                  <img
                    width="20"
                    height="20"
                    src="assets/pencil-icon.png"
                    title="Edit Pet"
                  />
                </a>
              </div>
              </div>
              
            </div>
    
      </div>
</div>

