.row {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Adjust the gap between cards */
  justify-content: flex-start;
}

.col {
  flex: 1 1 calc(10% - 16px); /* Adjust the card width, here 4 cards per row */
  box-sizing: border-box;
}
.heading {
  display: flex;
  justify-content: center;
  align-items: center; /* Optional: only needed if you want to center vertically as well */
  gap: 10px; /* Adjust the gap between h4 and the link */
}

.heading h4 {
  margin: 0; /* Remove default margin for precise centering */
}

.heading a {
  display: inline-flex;
  align-items: center;
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}


.card {
  border: 1px solid #ccc;
  padding: 16px;
  align-items: center;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0,0.1);
  transition: box-shadow 0.3s ease;
}
.card:hover{
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Media query for responsiveness */
/* @media (max-width: 70px) {
  .col {
    flex: 1 1 calc(10% - 10px); /* 3 cards per row */
  

